<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="vendor/autoload.php"
        >
    <php>
        <server name="KERNEL_DIR" value="app/"/>
    </php>
    <testsuites>
        <testsuite name="Test Suite">
            <directory>src/ScrumBoard/Infrastructure/Delivery/ScrumBoardBundle/Tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
